{% extends 'base.html.twig' %}

{% block title %}Où me trouver ?{% endblock %}

{% block content %}

<div class="featurette">
    <h2 style="text-align: center">où nous trouver ?</h2>
    <h3 style="color: #B87750">Les marchés :</h3>
    <p class="lead">
        A Maurs, le jeudi matin de 8h à 12h.<br/>

        A Figeac, le samedi matin de 8h à 12h30.<br/>

        A Marcillac Vallon, le dimanche matin de 8h à 13h.<br/>
    </p>

    <h3 style="color: #B87750">En boutique :</h3>
    <p class="lead">
        U express de Cassaniouze<br/>

        …..<br/>

        …..
    </p>

    <h3 style="color: #B87750">Sur place, à l’atelier de fabrication:</h3>
    <p class="lead">
        Au 8 bis route du cordonnier, La Chourlie, 15340 Sénezergues<br/>

        Du mardi au samedi, de 15h à 19h.<br/>

        Appeler le 06.46.76.01.83 avant, pour être sûr que l’atelier soit ouvert.
    </p>
</div>

{% endblock %}
