{% extends 'base.html.twig' %}

{% block title %}Où me trouver ?{% endblock %}

{% block body %}

<div class="featurette">
    <h2 style="color: #B87750">Où trouver nos savons ?</h2>
    <h3 style="color: #B87750">Les marchés :</h3>
    <p class="lead">
        A Maurs, le jeudi matin de 8h à 12h

        A Figeac, le samedi matin de 8h à 12h30

        A Marcillac Vallon, le dimanche matin de 8h à 13h
    </p>
</div>

{% endblock %}
