{% extends 'base.html.twig' %}

{% block content %}

    <div>

        <h2 class="" style="color: #B87750">conditions générales de vente</h2>
        <h5>Applicables à compter du 15/04/2022</h5>
        <hr>

        <div class="">
            <h4 class="">1. Champ d’application</h4>
            <p>
                Les présentes conditions générales ont pour objet de régir les conditions de vente et de fabrication à façon de savons, cosmétiques et produits d’entretien de la maison (ci-après également dénommées Produits) s’appliquant entre :
                <br/> <br/>
                EIRL Savonnerie des adrets , ci-après dénommée « Savonnerie des Adrets »,
                <br/>
                et
                <br/>
                - un consommateur : à savoir toute personne physique agissant à des fins n’entrant pas dans le cadre de son activité commerciale , industrielle, artisanale, libérale, ou agricole ci-après dénommé ’’le Consommateur’’.
                <br/>
                Ou
                <br/>
                - un non professionnel : à savoir toute personne morale qui n’agit pas à des fins professionnelles ci-après dénommé ’’le non professionnel’’,
                <br/>
                ou
                <br/>
                - Un professionnel : à savoir toute personne physique ou morale, publique ou privée, qui agit à des fins entrant dans le cadre de son activité commerciale, industrielle, artisanale, libérale ou agricole, y compris lorsqu’elle agit au nom et pour le compte d’un autre professionnel ci-après dénommé le ’’Professionnel’’.
                <br/> <br/>
                Elles constituent le régime auquel la Savonnerie des Adrets, subordonne, pour le territoire de la France métropolitaine exclusivement la vente de ses Produits.
                <br/>
                Toute vente conclue par la Savonnerie des Adrets avec la clientèle ci-dessus définie se trouvera en conséquence régie par lesdites conditions ainsi que par les termes de la commande afférente à l’opération de vente concernée telle qu’acceptée dans les conditions ci-après définies.
                <br/> <br/>
                En conséquence, le fait pour le Client de passer commande à la Savonnerie des Adrets implique que cette commande ne pourra avoir lieu sans l’adhésion entière et sans réserve de sa part aux présentes conditions générales.
                Le fait que la Savonnerie des Adrets ne se prévale pas à un instant donné de l’une quelconque des dispositions des présentes conditions générales de vente et/ou des termes de la commande concernée ne peut être interprété comme valant renonciation à se prévaloir ultérieurement de l’une quelconque de ces dispositions.
                La Savonnerie des Adrets se réserve le droit de modifier à tout moment les présentes conditions générales. La version des conditions générales applicable à la commande sera celle en vigueur à la date de réception de la commande.
            </p>

        </div>

        <div class="">
            <h4 class="">2. Informations légales</h4>
            <p>
                Dénomination sociale : EIRL Savonnerie des adrets
                <br/>
                Nom commercial : Savonnerie des Adrets
                <br/>
                La Chourlie
                <br/>
                15340 Sénezergues
                <br/>
                Entreprise individuelle à responsabilité limitée, 910 388 263 00014
                <br/>
                n° individuel TVA : non assujetti à la TVA
                <br/>
                Tél : 06.46.76.01.86
                <br/>
                Email : contact@savonneriedesadrets.com
            </p>
        </div>

        <div class="">
            <h4 class=""> 3. Droit applicable</h4>
            <p>
                La réglementation applicable aux ventes conclues avec la Savonnerie des Adrets est la loi française.
                <br/>
                L’attention du client est attirée sur le fait que selon sa qualité (telle que définie ci-dessus : Consommateur, Non professionnel ou Professionnel) et qu’il aura commandé à distance ou acheté en magasin, il sera soumis à des règles différentes :
                <br/>
                - Dispositions du code civil et du code de la consommation pour le Consommateur,
                <br/>
                - Dispositions du code civil et du code de la consommation dont celles de la vente à distance pour le Consommateur n’achetant pas directement en magasin,

                - Dispositions du code civil et certaines dispositions du code de la consommation pour le Non professionnel,

                - Dispositions du code civil et du code de commerce pour les achats réalisés par les Professionnels, que ce soit à distance ou non.
            </p>
        </div>

        <div class="">
            <h4 class=""> 4. Produits</h4>



        Les produits susceptibles d’être commandés par le client auprès de la Savonnerie des Adrets font l’objet d’une description quant à leur dénomination, leur composition et leur prix sur le site internet https://savonneriedesadrets.com ainsi que sur la documentation distribuée par la Savonnerie des Adrets.

        Les photos éventuelles des produits présentés sur le site ou sur la documentation de toute nature diffusée par la Savonnerie des Adrets n’ont pas de valeur contractuelle. La responsabilité de la Savonnerie des Adrets ne saurait dès lors être engagée à ce titre.

        </div>

        <div class="">
            <h4 class="">5. Commande</h4>



        5.1. Consommateur

        5.1.1. Commande à distance

        Le Consommateur qui souhaite acheter un produit en ligne ou plus généralement à distance doit obligatoirement :

        - Remplir la fiche d’identification sur laquelle il indiquera toutes les coordonnées demandées ou bien indiquer son numéro de client s’il a déjà passé commande,

        - Remplir le bon de commande en précisant toutes les références des produits choisis,

        - Valider sa commande après l’avoir vérifiée : son attention est attirée sur le fait que cette validation implique un paiement de sa part,

        - Accepter les présentes conditions générales de vente et effectuer le paiement.

        La confirmation de commande qui lui sera adressée à l’adresse mail qu’il aura indiquée vaudra preuve de la transaction.

        5.1.2. Achats en magasin, sur marchés et autres manifestations

        Les produits achetés en magasin ne sont pas éligibles aux dispositions du droit de la consommation relatives à la vente à distance et notamment au droit de rétractation.

        Les produits achetés ne sont donc ni repris ni échangés, sauf application des dispositions de l’article 12.1 ci-après.

        5.2.1. Produits catalogue

        Toute commande sera ferme à défaut d’indication contraire par la Savonnerie des Adrets dans un délai de 2 jours ouvrés à compter de la réception de la commande ainsi que le paiement de l’acompte prévu dans le devis le cas échéant.

        La Savonnerie des Adrets se réserve en effet le droit de ne pas exécuter la commande d’un client avec lequel elle aurait eu par le passé des impayés ou des difficultés pour le paiement des produits commandés.

        Il est précisé que les devis établis par la Savonnerie des Adrets sont valables trois mois à compter de leur date d’émission à défaut d’indication contraire dans le devis.

        Le bénéfice de la commande est personnel au client et ne peut être cédé sans l’accord préalable et écrit de la Savonnerie des Adrets.

        Hors le cas de force majeure, aucune commande ferme telle que définie ci-dessus ne pourra être annulée totalement ou partiellement, ou plus généralement modifiée par le client, sauf accord préalable écrit de la Savonnerie des Adrets en ce sens.

        5.2.2. Fabrication à façon

        Les commandes de fabrication de produits à façon donneront lieu à l’établissement d’un devis préalable. La commande sera ferme à compter de la réception du devis accepté par le client et de l’acompte correspondant.
        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        6. Délais de livraison

        6.1. Client Consommateur

        Dans l’hypothèse où un produit s’avèrerait indisponible après enregistrement définitif de la commande par le client, la Savonnerie des Adrets en informera ce dernier afin de convenir avec celui-ci soit :

        · de décaler la livraison en attendant le réapprovisionnement de ce produit lorsque cela est possible,

        · de remplacer le produit par un autre de qualité et de prix équivalents,

        · dans le cas où le client a déjà payé le prix du produit indisponible, être remboursé sur demande écrite. Il est précisé que pour le client Consommateur, ce remboursement interviendra au plus tard dans les 14 jours suivant la date de réception de la demande.

        En cas d’achat à distance, le délai de livraison est rappelé dans le mail de confirmation de commande.

        Conformément aux dispositions de l’article L 216-2 du Code de la consommation, pour les commandes qui n’auraient pas été livrées à la date de livraison indiquée lors de l’enregistrement de la commande, pour un motif autre qu’un cas de force majeure, ou imputable au client, et si après avoir enjoint sans succès par écrit la Savonnerie des Adrets de s’exécuter dans un délai raisonnable, le client aura s’il le souhaite la possibilité d’annuler sa commande par lettre recommandée avec accusé de réception ou tout autre moyen écrit.

        La vente sera considérée résiliée à la réception, par la Savonnerie des Adrets, de la lettre par laquelle le client l’informe de sa décision, si la livraison n’est pas intervenue entre l’envoi et la réception de la lettre.

        Le cas échéant, la Savonnerie des Adrets procèdera au remboursement des sommes réglées par le client au titre de la commande annulée, dans un délai de 14 jours à compter de la réception de la lettre de résiliation.

        6.2. Client Professionnel

        6.2.1. Client Professionnel

        Les délais de livraison sont donnés à titre purement indicatif.

        Aucun droit à indemnisation ne pourra être demandé par le client au titre d’un éventuel retard de livraison avant l’expiration d’une mise en demeure par lettre recommandée avec accusé de réception restée infructueuse pendant un délai de 15 jours minimum.

        L’indemnisation en cas d’éventuel retard de livraison ne pourra en aucun cas excéder 5 % du montant de la commande.

        Sauf indication contraire dans les conditions particulières de la commande, les produits :

        - commandés sont réputés livrés à compter de leur mise à disposition du client dans les locaux de la Savonnerie des Adrets,

        - voyagent le cas échéant aux risques et périls du client auquel il appartient de vérifier dès réception le bon état des produits. Il lui incombe d’exercer tous les recours dans un délai de 3 jours ouvrés envers le transporteur seul responsable en cas d’avaries ou pertes subies par les produits conformément aux dispositions de l’article L133-3 et suivants du Code de commerce. Une copie de ces réclamations au transporteur devra être adressée à la Savonnerie des Adrets.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        7. Réserves et réclamations

        7.1. Client Consommateur

        7.1.1. Vente ambulante

        Il appartient au client Consommateur de vérifier la nature, la quantité et la conformité des produits achetés lors de leur enlèvement sur les marchés, et autres manifestations extérieures. A défaut les produits sont réputés conformes et exempts de tous vices apparents.

        7.1.2. Vente à distance

        Sans préjudice du délai dont dispose éventuellement le client Consommateur au titre de son droit de rétractation prévu par l’article L 221-18 du Code de la consommation, il appartient au client de vérifier le colis à l’arrivée de la commande et de faire toutes réserves et réclamations justifiées, en indiquant notamment l’état exact du colis ou des produits reçus sur le récépissé du livreur. Ces réserves et réclamations doivent être communiquées à la Savonnerie des Adrets au plus tard dans les 2 jours ouvrés suivant la livraison de la commande.

        Le client dispose en outre d’un délai maximum de 2 jours ouvrés à compter de la livraison des produits telle que définie ci-dessus dans les présentes pour signaler à la Savonnerie des Adrets, toute non-conformité ou tout vice apparent des produits livrés.

        A l’expiration de ce délai, les produits livrés seront réputés conformes et exempts de tous vices apparents.

        7.2. Client Professionnel

        Sans préjudice des dispositions à prendre vis-à-vis du transporteur, les réclamations sur la nature, la quantité et plus généralement la conformité des produits livrés au contenu de la commande concernée doivent être formulées par écrit à la Savonnerie des Adrets dans les 2 jours ouvrés suivants la livraison des produits.

        Il appartiendra au client de fournir toute justification quant à la réalité des vices ou anomalies constatées. Il devra laisser toute facilité à la Savonnerie des Adrets pour pouvoir procéder à la constatation de ces vices ou anomalies.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        8. Paiement

        8.1. Client Consommateur

        Les achats réalisés sur les marchés ou autres manifestations extérieures peuvent être réglés en espèce ou chèque dès lors que le montant des achats n’excède pas 1000 €, ou bien par carte de crédit.

        En cas de commande à distance réglée autrement que par carte de crédit, l’envoi des produits interviendra après encaissement effectif du prix.

        8.2. Client Professionnel

        Sauf disposition écrite contraire de la Savonnerie des Adrets, le solde du prix des produits est payable à la livraison et au siège social de cette dernière, quel que soit le mode de paiement (traite, chèque, etc…).

        Toute somme non réglée à échéance sera majorée de frais de retard correspondant au taux d'intérêt appliqué par la Banque centrale européenne à son opération de refinancement la plus récente majoré de 10 points de pourcentage.

        Il ne sera accordé aucun escompte en cas de paiement anticipé.

        En cas de retard de paiement, et sans préjudice de l’application de l’intérêt de retard dont il est question ci-dessus, la Savonnerie des Adrets pourra à sa discrétion :

        - suspendre ses obligations concernant la commande visée par le retard ainsi que toutes les commandes en cours jusqu’à complet paiement des sommes que le client reste lui devoir,

        - subordonner l’exécution de commandes en cours à la prise de garanties ou de nouvelles modalités (notamment de règlement) donnant toutes garanties de règlement et jugées satisfaisantes par la Savonnerie des Adrets.

        - exiger le remboursement des frais décomptés par les banques : frais fixes, proportionnels et taxes,

        - résilier de plein droit la commande, la Savonnerie des Adrets pouvant, si le client venait à faillir à son obligation de restituer les produits en cause, reprendre possession des produits concernés, ce sans préjudice de la faculté d’obtenir en sus le versement de tout dommage-intérêt à ce titre. Les acomptes versés par le client seront conservés par la Savonnerie des Adrets.

        En outre, conformément aux dispositions de l’article L441-9 du code de commerce, une participation forfaitaire de 40 € par effet impayé sera facturée en couverture des frais occasionnés à la Savonnerie des Adrets pour le recouvrement de l’impayé, à moins que la Savonnerie des Adrets ne justifie de frais supérieurs à ce forfait, auquel cas le client devra indemniser la Savonnerie des Adrets des frais réellement exposés.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        9. Clause de réserve de propriété

        Les produits restent la propriété de la Savonnerie des Adrets jusqu’à complet paiement du prix et de ses accessoires étant précisé que seul l’encaissement effectif des sommes dues vaudra paiement.

        Pour l’application de la présente clause, les produits encore en stock chez le client et en état d’être vendus seront conventionnellement présumés être ceux impayés.

        Les dispositions ci-dessus ne font pas obstacle dès la livraison des produits au transfert au client des risques de perte ou de détérioration des produits soumis à réserve de propriété ainsi que des dommages qu’ils pourraient subir ou occasionner.

        Le client s’interdit de donner en gage ou de céder sous quelque forme que ce soit, à titre de garantie, la propriété des produits tant qu’ils n’ont pas été intégralement payés.

        Les produits pourront être repris sur simple sommation si les paiements ne sont pas effectués aux dates convenues.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        10. Force majeure

        Conformément aux dispositions de l’article 1218 du Code civil, la responsabilité de la Savonnerie des Adrets ne pourra être retenue en cas de manquement à ses obligations en raison d’un événement échappant à son contrôle, qui ne pouvait être raisonnablement prévu lors de la conclusion de la commande et dont les effets ne peuvent être évités par des mesures appropriées, l’empêchant d'exécuter les dites obligations. Seront notamment considérés comme des cas de force majeure, sans que cette énumération soit exhaustive : catastrophe naturelle, intempéries, incendie, trouble civil, invasion, guerre (déclarée ou non), émeute, blocus, blocage des moyens de transport ou d’approvisionnement, des sources d’énergie ou moyens de télécommunication, sabotage, grève, épidémie …

        Si l'empêchement est temporaire, l'exécution de la commande sera suspendue.

        Si l'empêchement est définitif, la commande sera résolue de plein droit et les parties seront libérées de leurs obligations dans les conditions prévues aux articles 1351 et 1351-1 du Code civil.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        11. Droit de rétractation pour le client Consommateur

        Conformément aux dispositions de l’article L 221-18 du Code de la consommation, le client Consommateur dispose d’un délai de rétractation dans un délai de 14 jours francs à compter du jour de la livraison. Il peut à cette fin utiliser, s’il le souhaite, le modèle de formulaire de rétractation figurant ci-dessous ou bien dans le mail de confirmation de commande.

        Le client Consommateur pourra donc dans ce délai retourner à ses frais les produits commandés à l’adresse suivante :

        Savonnerie des Adrets

        8 bis route du cordonnier, La Chourlie

        15340 Sénezergues

        Si le délai de 14 jours expire un samedi, dimanche ou jour férié ou chômé, il est prorogé jusqu’au premier jour ouvrable suivant.

        En cas d’exercice du droit de rétractation, la Savonnerie des Adrets remboursera au client le montant de la commande retournée et les frais d’envoi y afférent, à l’exception des frais de retour, dans un délai maximum de 14 jours suivant la date de réception du colis par la Savonnerie des Adrets, sous réserve que les produits aient été retournés en parfait état, dans leur emballage d’origine sans avoir été ouverts.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        12. Garantie

        12.1. Client Consommateur

        Conformément aux dispositions de l’article L211-2 du Code de la consommation le client Consommateur est informé que :

        La savonnerie des Adrets est tenu des défauts de conformité du bien au contrat dans les conditions de l'article L 211-4 et suivants du code de la consommation et des défauts cachés de la chose vendue dans les conditions prévues aux articles 1641 et suivants du code civil.

        Concernant la garantie légale de conformité, le client Consommateur :

        - bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir ;

        - peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 211-9 du code de la consommation ;

        - est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien durant les 24 mois suivant la délivrance du bien neuf (6 mois pour les biens d’occasion).

        Il est rappelé que la garantie légale de conformité s'applique indépendamment de la garantie commerciale éventuellement consentie. Le client Consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l'article 1641 du code civil et que dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l'article 1644 du code civil.

        12.2. Client Professionnel

        En cas de non-conformité des produits, la responsabilité de la Savonnerie des Adrets ne pourra être mise en cause qu’après examen par cette dernière ou le représentant de son choix des produits concernés.

        Dans la mesure où il aura définitivement été reconnu que la non-conformité des produits incombe exclusivement à la Savonnerie des Adrets, la garantie se limitera à l’échange des produits reconnus défectueux par la Savonnerie des Adrets ou, à sa convenance, à leur remboursement par la Savonnerie des Adrets aux conditions qu’elle confirmera par écrit.

        Tout produit retourné sans l’accord de la Savonnerie des Adrets sera effectué aux frais et risques du client et ne donnera pas lieu à l’établissement d’un avoir. Le client indemnisera la Savonnerie des Adrets de l’ensemble des coûts et dommages éventuels qu’elle aura supportés directement ou indirectement liés à ce retour non autorisé.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        13. Propriété intellectuelle

        Tous les droits de propriété intellectuelle relatifs aux documents et études sous quelque forme que ce soit (notamment support papier, numérique etc …) mis à disposition du client par la Savonnerie des Adrets dans le cadre de la commande sont et restent la propriété exclusive de la Savonnerie des Adrets qui en est l’auteur.

        A ce titre, le client s’engage à ne pas reproduire, directement ou indirectement, en tout ou partie, adapter, modifier, traduire , représenter, commercialiser ou diffuser à toute personne les documents et études transmis par la Savonnerie des Adrets sans accord préalable écrit de celle-ci, titulaire de ces doits d’exploitation.

        A défaut, le client s’expose à des poursuites pour contrefaçon.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        14. Données personnelles

        Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 et du règlement UE 2016/679, la Savonnerie des Adrets indique que les données personnelles recueillies et traitées à l’occasion des échanges qu’elle a avec le client et/ou ses préposés, ont pour seule finalité de permettre d’assurer la gestion de la relation client/fournisseur.

        Les destinataires de ces informations sont les services internes de la Savonnerie des Adrets, ou ses éventuels sous-traitants ainsi que le cas échéant les prestataires en charge de la livraison de la commande.

        Elles sont conservées pendant la durée de la relation commerciale allongée de la période de prescription.

        Le client est informé qu’il dispose à tout moment d’un droit d’accès, de rectification, d’effacement, de portabilité, de limitation ou d’opposition au traitement des données personnelles le concernant collectées à l’occasion de la commande passée à la Savonnerie des Adrets. Il dispose également d’un droit de définir des directives relatives au sort de ses données à caractère personnel après sa mort.

        Ce droit peut être exercé par lettre recommandée avec accusé de réception, ou par mail accompagnée d’une copie de la pièce d’identité de la personne exerçant cette demande à l’adresse suivante :

        Savonnerie des Adrets

        6 La Chourlie

        15340 Sénezergues

        contact@savonneriedesadrets.com

        Il est également précisé que la personne physique concernée dispose du droit d’introduire un recours devant la Commission Nationale Informatique et Liberté.

        Le client s’engage à communiquer la présente clause à ses collaborateurs et salariés et les informer de leurs droits relatifs aux données personnelles les concernant.

        </div>

        <div class="">
            <h4 class="">1. Champ d’application</h4>

        15. Différends

        15.1. Avec un client Consommateur

        En cas d’éventuel litige entre la Savonnerie des Adrets et un consommateur qui ne pourrait être résolu amiablement, le client est informé qu’il peut, s’il le souhaite, recourir à la médiation en saisissant l’organisme suivant : www.mcpmediation.org - par voie électronique: contact@mcpmediation.org

        ou

        - par voie postale: Médiation de la consommation & patrimoine, 12 square Desnouettes, 75015 PARIS

        Il est toutefois rappelé que le consommateur ne peut saisir le médiateur qu'après avoir tenté au préalable de résoudre le litige directement auprès la Savonnerie des Adrets par une réclamation écrite.

        15.2. Avec un client Professionnel

        Il est expressément précisé que :

        - sera seul compétent, en cas de litige de toute nature, contestation relative à la validité, l’exécution ou l’opposabilité, ou difficulté d’interprétation des présentes conditions générales et de façon plus générale concernant les relations commerciales existant entre la Savonnerie des Adrets et le client professionnel, le tribunal de commerce d’Aurillac.

        Cette clause s’applique même en cas de référé, de demande incidente, de pluralité de défendeurs ou d’appel en garantie et quels que soient le mode et les modalités de paiement tels qu’acceptés dans les conditions ci-après définies.

        - seul le droit français, exclusivement dans ses dispositions de droit interne, sera applicable.

    </div>

{% endblock %}


