{% extends 'base.html.twig' %}

{% block content %}

    <div>
        <h2 class="" style="color: #B87750">Mentions légales</h2>

        <hr>

        <div class="">
            <h4 class="">Propriétaire :</h4>
            <p>
                EIRL savonnerie des adrets / Paquette Soazig<br/>
                Domicile : 6 La chourlie, 15340 Sénezergues<br/>
                contact@savonneriedesadrets.com<br/>
                Tel : 06.46.76.01.83
            </p>
        </div>

        <div class="">
            <h4 class="">Entreprise :</h4>
            <p>
                Entreprise individuelle à Responsabilité limité au régime micro social simplifié<br/>
                Adresse de la savonnerie : 8 bis rue du cordonnier, La chourlie, 15340 Sénezergues<br/>
                N° Siret : 910 388 263 00014<br/>
                Entreprise enregistrée au RCS d’Aurillac<br/>
                Entreprise enregistrée à la CMA Auvergne-Rhône-Alpes : 910 388 263 RM 15<br/>
            </p>
        </div>

        <div class="">
            <h4 class="">Création et réalisation du site :</h4>
            <p>
                Moujahid Anass<br/>
                Hébergeur du site : o2switch<br/>
            </p>
        </div>

        <div class="">
            <h4 class="">Propriété et droits d’auteurs :</h4>
            <p>
                Textes, images animées ou non et tous les éléments composants le site sont la propriété exclusive de « savonneriedesadrets.com ». Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l'autorisation expresse de “savonneriedesadrets.com“ est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Tout utilisateur ou visiteur du site web ne peut mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de “savonneriedesadrets.com“.
            </p>
        </div>

        <div class="">
            <h4 class="">Médiateur de la consommation :</h4>
            <p>
                Médiation de la Consommation & Patrimoine<br/>
                12 square Desnouettes, 75015 PARIS<br/>
                contact@mcpmediation.org<br/>
                <a href="https://mcpmediation.org/">www.mcpmediation.org </a>
            </p>
        </div>

        <div class="">
            <h4 class="">CNIL : 1359728</h4>
            <p>
                Conformément à l’article 34 de la loi “Informatique et Libertés“ (Cf. le site de la CNIL : www.cnil.fr), vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez l'exercer en envoyant un e-mail à contact@savonneriedesadrets.com
                DROIT APPLICABLE : Le présent site Internet et ses mentions légales sont soumis au droit français.
            </p>
        </div>

    </div>

{% endblock %}