body{
    position: relative;
}

a  {
    color: #B87750;
}

.navbar-item-custom, .navbar-item-custom a{
    color: #fff;
}

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    margin-top: 4rem;
    padding-top: 25px;
}

.product-item h5{
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.product-item{
    margin: 1.5rem;
}

.product-item .product-subtitle{
    display: block;
    margin-bottom: 0.5rem;
}

.product-item .product-price{
    font-weight: bold;
}

.product-container{
    margin-bottom: 10rem;
}

.block-small{
    max-width: 55%;
    margin: 0 auto;
}

.form-check{
    background-color: rgba(232, 202, 179, 0.36);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
}

.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.order-summary1{
    background-color: #f4f8ff;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

hr {
background-color: #B87750;
}

img {
    border-radius: 10px;
}