{% extends 'base.html.twig' %}

{% block content %}

    <div class=" text-center">
        <h1 class="text-center mb-5">Inscription</h1>

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
            <hr>
        {% endif %}

        {{ form(form) }}
    </div>

{% endblock %}