{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Contact</h1>
        <p>Pour toute question ou demande d'information, vous pouvez me contacter en remplissant le
            formulaire
            ci-contre. Je vous répondrais dans les plus brefs délais .
        </p>
    </div>
    <div class="row">
        <div class="col-md-8 text-center">

            <div class="">
                <h2>Mes coordonnées</h2>
                <div class="">
                    <a class="mail"
                       href="mailto:contact@savonneriedesadrets.com">
                        <i class="fas fa-envelope me-3"></i>
                        contact@savonneriedesadrets.com</br>
                    </a>
                    <a class="tel" href="tel:+33667782604">
                        <i class="fas fa-phone me-3"></i>
                        06.46.76.01.83</br>
                    </a>
                    <a class="adresse"
                       href="https://www.google.com/maps/place/Savonnerie+des+adrets/@44.7115446,2.4030628,15z/data=!4m5!3m4!1s0x0:0xc1e5363abcd78898!8m2!3d44.7115274!4d2.4030764"
                       target="_blank">
                        <i class="fas fa-home me-3"></i><br>
                        Savonnerie des Adrets</br>
                        8 bis route du cordonnier</br>
                        La Chourlie, 15340 Sénezergues
                        </p>
                    </a>
                    <iframe id="inlineFrameExample" title="Inline Frame Example" width="300" height="400"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11341.58094725617!2d2.4030628!3d44.7115446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc1e5363abcd78898!2sSavonnerie%20des%20adrets!5e0!3m2!1sfr!2sfr!4v1655932361870!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
